.login{
    top:20%;
    left:30%;
    padding:4vh 4vw;
    width: 35%;
    border-radius: 20px;
    background-color: white;
    position:absolute;
}
.fullbody{
    background-color: #1e4c90;
    
}
.button{
    background-color:#1e4c90;
    color:white;
    width: 100%;
    padding:5px;
    border-radius: 5px;
}
.last{
    margin:10px;    
}